.charsheet {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: url("https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/bg.jpg");
    color: #602749;

}
.charsheet select {
    margin-bottom: 0px;
}
.charsheet .sheet-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.charsheet .sheet-grid1 {
    grid-row-gap: 20%;
    grid-template-columns: 40% 60%;
}

.charsheet .sheet-grid2 {
    grid-row-gap: 20%;
    grid-row-columns: 70% 30%;
}

.charsheet .sheet-item {
    padding: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
